.BudgetOverview{
  display:flex;
  justify-content: center;//horizontrale Zentrierung
  font-family: 'Courier New', Courier, monospace;
  
}

.container {
    
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 2%;
    width: auto;
    gap: 10px;
  }
  
  .budgetinput{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom left, rgb(0, 238, 80),rgb(50, 128, 50));
  }
  .expenseinput{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    height: 100%;
    width: 100%;
  }
  
  