.Gesamtbudget{
    display: flex;
    justify-content: right;
}
.Gesamtausgaben{
    display: flex;
    justify-content: right;
}
.Verbleibendesbudget{
    height: auto;
    display: flex;
    justify-content: right;
    border-top: 1px solid rgb(0, 0, 0);
    
}

h2{
    display: flex;
    justify-content: center;
}